*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --clr: #29205c;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: var(--clr);
}

.navigation{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuToogle{
  position: relative;
  width: 65px;
  height: 65px;
  background: #27c500;
  border: 5px solid var(--clr);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.menuToogle::before{
  position: absolute;
  content: '+';
  font-size: 3em;
  color: #fff;
  transition: 1.5s;
}

.menuToogle.active::before{
  transform: rotate(-225deg);
}

.menuToogle i{
  position: absolute;
 inset: 0;
}

.menu{
  position: absolute;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 70px;
  transition: transform 0.5s, width 0.5s, height 0.5s;
  transition-delay: 1s,0.5s,0.5s;
  display: flex;
  justify-content: center;
}

.menuToogle.active ~ .menu{
  width: 70px;
  height: 360px;
  transform: translateX(50px);
  transition-delay: 0s,0.5s,0.5s;
}

.menu ul{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

.menu ul li{
  list-style: none;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s;
  transition-delay: calc(0s + var(--i));
  transform: translateX(0px);
}

.menu ul li:nth-child(3){
  width: 30px;
}

.menu ul li a{
  display: block;
  font-size: 2em;
  text-decoration: none;
  color: #555;
}

.menu ul li:hover a{
  color: #27c500;
}