

@font-face {
  font-family: 'Athena';
  src: "ressources/Athena-Regular.ttf";
}

.car{
  top: 100px;
  position: relative;
  border-color: #ddba1f;
}

.nav-car{
  left:47%;
}

.pl{
   font-family: 'Athena', 'sans-serif';
}

.form{
  position: relative;
  top: 200px;
  left: 0px;
  width: 100%;
  height: 100%;
  color: #ddba1f;
  font-family: 'Athena', sans-serif;
  font-size: 20px;
  border: none;
  align-items: center;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Athena', sans-serif;
  background: #2e0000;
  text-align: center;
  color: #ddba1f;
  align-items: center;
}

button{
  border: none;
  margin: 0;
  padding: 0;
}

.btv{
  height: 50px;
  font-family: 'Athena', sans-serif;
  font-size: 18px;
  min-width: 90px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  color: #ddba1f;
  background-color: #000000;
  position: relative;
  top: 200pxpx;
  align-items: center;
  left: auto;
}

.btn{
  height: 50px;
  font-family: 'Athena', sans-serif;
  font-size: 18px;
  min-width: 90px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  color: #ddba1f;
  background-color: #000000;
  position: relative;
  top: 400px;
  align-items: center;
  left: auto;
}

.btn:hover{
  background-color: #ddba1f;
  color: #000000;
  transition: 1s;
}

h1{
  position: relative;
  color: #ddba1f;
  top: 200px;
  font-size: 45px;
  font-family: 'Athena', 'sans-serif';
  text-align: center;
  margin: 0;
}

.p{
  position: relative;
  color: #ddba1f;
  top: 220px;
  font-size: 30px;
  font-family: 'Athena', 'sans-serif';
  text-align: center;
  margin: 0;
}

nav {
  top: 0%;
  left: 0%;
  height: 75px;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 25px;
  background: #000000;
  box-shadow: inset 0px -1px 0px #000000;
  color: #bd8928;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-icon {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 20px;
}

.nav-icon span {
  font-family: 'Athena', sans-serif;
  font-size: 25px;
  margin-left: 10px;
  font-weight: 400;
  color: #ddba1f;
}

.nav-icon img {
  width: 160px;
  transform: translateX(5px);
}

.hamburger {
  display: none;
}

.navlinks-container a {
  margin: 0 10px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #ddba1f;
  position: relative;
}
.navlinks-container a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 1px;
  transform: scale(0);
  transform-origin: left;
  background: #333;
  transition: transform 0.3s ease-out;
}
.navlinks-container a:hover::after {
  transform: scaleX(1);
}

.nav-authentication {
  margin-left: auto;
}

.sign-btns button {
  font-family: 'Athena', sans-serif;
  font-size: 16px;
  min-width: 90px;
  padding: 10px 5px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.sign-btns button:nth-child(2) {
  border: none;
  background: rgba(158, 158, 158, 0.718);
}
.user-toggler {
  display: none;
}

@media (max-width: 900px) {
  nav {
    padding: 15px 20px;
    position: absolute;
  }

  /* nav */
  .nav-icon {
    order: 2;
    margin: 0 auto;
  }

  .nav-icon span {
    font-size: 22px;
  }
  .main-navlinks {
    order: 1;
    width: auto;
  }

  /* hamburger */
  .hamburger {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    display: flex;
    background: #000000;
    align-items: center;
    position: relative;
    color: #1f1f1f;
  }

  .hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background: #333;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s 0.15s ease-out;
  }
  .hamburger span:nth-child(1),
  .hamburger span:nth-child(3) {
    transition: transform 0.3s ease-out;
  }

  .hamburger span:nth-child(1) {
    transform: translateY(7px);
  }
  .hamburger span:nth-child(3) {
    transform: translateY(-7px);
  }

  .hamburger.open span:nth-child(1) {
    transform: translate(0) rotate(135deg);
  }
  .hamburger.open span:nth-child(2) {
    opacity: 0;
    transition: opacity 0s ease-out;
  }
  .hamburger.open span:nth-child(3) {
    transform: translate(0) rotate(-135deg);
  }

  .navlinks-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background: #000000;
    top: 100%;
    left: 0;
    transform: translate(-100%);
    height: 100vh;
    padding: 15px 50px 15px 20px;
    border-right: 1px solid #000000;
  }
  .open {
    transform: translate(0%);
  }

  .navlinks-container a {
    font-size: 18px;
    margin: 10px 0px;
  }


  .nav-authentication {
    order: 3;
    margin-left: 0;
  }
  .sign-btns {
    display: none;
  }

  .user-toggler {
    display: block;
    cursor: pointer;
    border: none;
  }

  .user-toggler img {
    width: 20px;
  }
}

@media (max-width: 500px) {
  .nav-icon img {
    width: 60px;
  }
  .nav-icon span {
    font-size: 20px;
  }
}

.custom-slider { display: none; }
.slide-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}
.prev, .next {
  cursor: pointer;
  position: absolute;        
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  font-size: 30px;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.6s ease;
}
.prev{ left: 15px; }
.next { right: 15px; }
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.5);
}
.slide-text {
  position: absolute;
  color: #ffffff;
  font-size: 15px;
  padding: 15px;
  bottom: 15px;
  width: 100%;
  text-align: center;
}
.slide-index {
  color: #ffffff;
  font-size: 13px;
  padding: 15px;
  position: absolute;
  top: 0;
}
.slide-img{ 
  width: 100%; 
  height: 100%;
  object-fit: cover;
  object-position: center;
 }
.slide-dot{ text-align: center; }
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #999999;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover { background-color: #111111; }
.fade {
  animation-name: fade;
  animation-duration: 1s;
}
@keyframes fade {
  from {opacity: 0} 
  to {opacity: 1}
}

.back {
  background-color: #000000;
  color: #3a3a3a;
  border: none;
  padding: 10px;
  font-size: 30px;
  cursor: pointer;
}

.car-pr{
  border: none;
  text-align: center;
  margin: 0 auto;

}
.car-pr legend{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}